################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug
/.vs/hannon.TwofactorAuth/v15/Server/sqlite3
